.header {
    min-height: 12vh;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(47, 197, 47);
}

.logo {
    width: 60px;
    color: white;
}

.headerText {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 253, 253);
}

.navigator {
    background-color: rgb(47, 197, 47);
    color: rgb(255, 253, 253);
    align-items: center;
    display: flex;
}

a {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
}
li {
    margin: 0 auto;
}